<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car_parking_backend_api.mapper.UserLogMapper">

    <resultMap id="userLog" type="com.example.car_parking_backend_api.domain.UserLog">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="event" column="event"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="getUserLogs" resultMap="userLog">
        SELECT *
        FROM user_log
        WHERE user_id = #{userId}
    </select>

</mapper>